<div class="p-4 sticky-top">
  <div class="heading text-center mb-2">Filter</div>
  <form>
    <!-- state -->
    <div class="input-group mb-2">
      <label class="input-group-text" for="inputGroupSelect01">State</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Assam</option>
        <option value="1">Bihar</option>
        <option value="2">Punjab</option>
        <option value="3">Goa</option>
      </select>
    </div>
    <!-- educational qualifications -->
    <div class="input-group mb-2">
      <label class="input-group-text" for="inputGroupSelect01"
        >Educational Qualifications</label
      >
      <select class="form-select" id="inputGroupSelect01">
        <option selected>B.tech</option>
        <option value="1">LLB</option>
        <option value="2">MD</option>
        <option value="3">MBA</option>
      </select>
    </div>
    <!-- category -->
    <div class="input-group mb-2">
      <label class="input-group-text" for="inputGroupSelect01">Category</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>General</option>
        <option value="1">SC</option>
        <option value="2">ST</option>
        <option value="3">OBC</option>
      </select>
    </div>
    <!-- national -->
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Origin</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>National</option>
        <option value="1">International</option>
      </select>
    </div>
    <!-- button -->
    <button type="button" class="btn btn-dark w-100 mb-2">Apply</button>
    <button type="button" class="btn btn-light border border-dark w-100">
      Clear
    </button>
  </form>
</div>
