.options {
  color: rgba(128, 128, 128, 0.481);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.applied {
  background-color: rgba(255, 166, 0, 0.395);
}
.saved {
  background-color: rgba(0, 128, 0, 0.318);
  color: white;
  text-align: center;
}
.card-orig {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: 1px solid rgba(128, 128, 128, 0.446);
}
