<div class="d-flex flex-column pt-5 bg-black">
  <div class="newsletter d-flex align-items-center justify-content-center mb-2">
    <div class="me-4">Enter your Email to subscribe</div>
    <div class="input-group w-25">
      <input
        type="text"
        class="form-control"
        placeholder="Enter"
        aria-label="email-address"
        aria-describedby="button-addon2"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
      >
        Submit
      </button>
    </div>
  </div>
  <div
    style="background-color: rgba(128, 128, 128, 0.307)"
    class="d-flex justify-content-center p-2 mt-4"
  >
    <div style="color: white; font-weight: 600; font-size: 1.5rem">
      Scholarly
    </div>
  </div>
</div>
