.custom-list {
  list-style-type: none;
}
.custom-list li a {
  text-decoration: none;
}
.custom-list li a.color-white {
  color: white;
}
.custom-list li a.color-black {
  color: black;
}
.w-12 {
  width: 12%;
}
.custom-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}
.nav-logo {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.shadow-bottom {
  border-bottom: 1px solid #cccccc0c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
